.userList{
    margin: 20px;
    flex: 4;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    margin-right: 7px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}


.userListEdit{
    border: none;
    background-color: inherit;
    color: rgb(121, 187, 23);
    cursor: pointer;
    margin-right: 5px;
}

.userListDelete{
    border: none;
    background-color: inherit;
    color: rgb(255, 47, 47);
    cursor: pointer;
    margin-left: 5px;
}